@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  margin-bottom: 10px;
  width: 100%;
}

.header__logo{
    max-width: 170px;
    height: auto;
}

nav {
  background-image: url(Img/Banner2.png);
  background-size: cover;
  background-position: center;
}

.navbar-nav .nav-link{
  color: #093C5D;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-nav .nav-link:hover{
  color: #000;
  text-decoration: underline;
}

.footer{
  /* margin-top: 50px; */
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin: 0 10px;
  padding: 40px 10px 10px 10px;
  font-size: 20px;
}
.footer__redes a {
  color: black;
  font-size: 25px;
}
.footer__redes:hover a {
  color: rgb(87, 130, 170);;
}

/* Inicio / Productos*/
.main__titulo--h1, .main__slogan{
  margin-top: 25px;
  margin-bottom: 25px;
}

.main__slogan{
  font-size: 20px;
}

.main__catalogo{
  margin-top: 40px;
  margin-bottom: 30px;
}

/* Cards para productos */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #000;
    background-color: white;
    border-radius: 8px;
    height: 17rem;
    width: auto;
    padding: 0.5rem;
}
.img {
    height: 7rem;
    width: auto;
}

.nombre_prod{
  margin: 2px 0;
  text-align: center;
  min-height: 40px;
  font-weight: 400;
}
.precio_prod{
  margin-bottom: 1px;
  font-weight: 600;
}

/* Estetica botones */
.btn {
    border-radius: 8px;
    border: solid 2px #000;
    background-color: rgb(87, 130, 170);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.025);
}

.btn.btn_agregar{
  background-color: rgb(87, 130, 170);
  color: #ffffff;
  margin-top: auto;
}
.btn.btn_agregar:hover{
  background-color: #767575;
}

.btn.btn_modificar{
  color: #ffffff;
}
.btn.btn_modificar:hover{
  background-color: #767575;
}

.btn.btn_eliminar{
  color: #ffffff
}
.btn.btn_eliminar:hover{
  background-color: #767575;
}

.btn.btn_catalogo{
  color: #ffffff;
}
.btn.btn.btn_catalogo:hover{
  background-color: #767575;
}

/* Producto no hallado en busqueda */
.prod_noHallado{
  width: 100%;
  text-align: center;
  padding-right: 160px;
  margin-top: 40px;
  font-weight: 500;
}
